= bootstrap_form_for @characteristic do |f|
  - if characteristic.errors.any?
    #error_explanation
      %b.text-primary
        = pluralize(characteristic.errors.count, "")
        do poprawienia!

  .field
    = f.text_field :name, label: "Nazwa grupy"
  .field
    = f.text_area :notes, label: "Notatki"
  .field
    = f.check_box :archive, label: "Archiwum"
  .actions
    = f.submit 'Wyślij', class: "btn btn-primary float-right mb-4"
