%h5
  = link_to 'Tagi adresu', features_path
  |
  = @feature.name
  %br
  = @feature.places.count
  adresów.
%b#notice.text-primary= notice
= render 'form', feature: @feature
%button.btn.btn-outline-dark{"aria-controls" => "confirmation-collapse", "aria-expanded" => "false", "data-target" => "#confirmation-collapse", "data-toggle" => "collapse", :type => "button"}
  Usuń tag adresu
#confirmation-collapse.collapse
  
  %p.text-primary.mt-2 Ta operacja nie jest odwracalna!     
  
  = link_to "Usuń ten tag adresu!", @feature, title: 'Usuń', class: 'btn btn-dark float-left', method: :delete, data: { confirm: 'Czy chcesz usunąć ten tag adresu?', remote: true }